In [ ]:
def JISNA():
  print("india is my country")

In [ ]:
JISNA()

india is my country

In [ ]:
def JISNA(x):
  print("my roll number is",x)

In [ ]:
x=int(input("enter your roll number"))
JISNA(x)

enter your roll number10
my roll number is 10

In [ ]:
def jisna(a,b,c,d):
  print("my name is ",a)
  print("my roll no is ",b)
  print("my mail id is",c)
  print("i am from",d)

In [14]:

a=input("enter your name ")
b=int(input("enter your roll number  "))
c=input("enter your mail id ")
d=input("enter your place ")
jisna(a,b,c,d)

enter your name 5
enter your roll number  5
enter your mail id 5
enter your place 5
my name is  5
my roll no is  5
my mail id is 5
i am from 5

In [24]:
x=input("enter your full name ")
def firstname(x):
  print(x[0:5])
def secondname(x):
  print(x[5:9])

enter your full name jisnajose

In [25]:
firstname(x)

jisna

In [26]:
secondname(x)

jose

In [44]:

x=input("enter your full name")
def name(x):
  y=x.split()
  print("your first name is",y[0])
  print("your second name is",y[1])
name(x)

enter your full namejisna jose
your first name is jisna
your second name is jose