In [1]:
x=input("enter a number")
y=input("enter a number")

enter a number20
enter a number6

In [2]:
int(x)-int(y)

14

In [3]:
int(x)+int(y)

26

In [4]:
int(x)*int(y)

120

In [5]:
int(x)/int(y)

3.3333333333333335

In [9]:
x=int(input("enter the first number"))
y=int(input("enter the second number"))
print(x+y,x-y,x*y,x/y)

enter the first number90
enter the second number64
154 26 5760 1.40625

In [17]:
p=int(input("enter the principle amount"))
r=int(input("enter the rate"))
n=int(input("enter the no of year"))
i=p*r*n
print("the intrest",i)

enter the principle amount100000
enter the rate5
enter the no of year2
the intrest 1000000

In [20]:
a=i+p
print("the amount is",a)

the amount is 1100000

In [7]:
x=int(input("enter your mark"))

enter your mark68

In [8]:
if x >50:
  print("you are passed")

you are passed

In [9]:
if x <50:
  print("you are failed")

In [14]:
x=int(input("enter your salary"))
tax=x*10/100
if x>2000000:
  print("you are taxable")
  print("your tax amount is ",x)
if x<2000000:
  print("you are not taxable")

enter your salary2050000
you are taxable
your tax amount is  2050000

In [15]:
x=int(input("enter your salary"))
t=x-250000
tax=t*10/100

enter your salary300000

In [16]:
if x>250000:
  print("you are taxable")
  print("your tax amount is ",tax)
if x<250000:
  print("you are not taxable")

you are taxable
your tax amount is  5000.0

In [17]:
x=int(input("enter your salary"))
tax=t*10/100

enter your salary500000

In [19]:
if x<2500000:
  print("you are not taxable")
if 2500000<x<5000000:
  print("you are taxable")
if x>5000000:
  print("you are taxable")

you are not taxable