In [4]:
x="this is \"python\"programming"
print(x)

this is "python"programming

In [5]:
x='he\'s a doctor'
print(x)

he's a doctor

In [9]:
x="hello\nworld!"
print(x)

hello
world!

In [8]:
x="hello\tworld!"
print(x)

hello	world!

In [10]:
print("\"jisna\" p jose")

"jisna" p jose

In [11]:
x='he\'s a doctor'
print(x)

he's a doctor

In [12]:
print("he\n doctor")

he
 doctor

In [13]:
print("jisna\n jose")

jisna
 jose

In [21]:

x="10"
print(x.isalpha())

False

In [32]:
x=["john","mary","david","adam"]
y=input("enter a name" )
z=int(input("enter a position" ))
x.insert(z,y)
print(x)

enter a namejames
enter a position1
['john', 'james', 'mary', 'david', 'adam']

In [41]:
def jisna ():
  x=["john","mary","david","adam"]
  y=input("enter a name " )
  z=int(input("enter index" ))
  x.insert(z,y)
  print(x)

In [42]:
jisna()

enter a name jose
enter index3
['john', 'mary', 'david', 'jose', 'adam']

In [45]:
def maths(): 
  x=int(input("enter a number "))
  y=int(input("enter second number "))
  print(x+y)
  print(x-y)
  print(x/y)
  print(x*y)

In [46]:
maths()

enter a number 23
enter second number 45
68
-22
0.5111111111111111
1035